<div class="navbar-fixed">

  <nav id="nav" class="transparent z-depth-0">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo svg logo">
          <img class="img-responsive logo" src="../../../assets/images/logo.png">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="mdi mdi-menu icon-black"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="nav-letter nav-color-black" routerLink="/home">HOME</a></li>
        <li><a class="nav-letter nav-color-black" routerLink="/applications">APPLICATIONS</a></li>
        <li><a class="nav-letter nav-color-black" href="collapsible.html">ABOUT</a></li>
        <li><a class="nav-letter nav-color-black" routerLink="/add-application">SERVICES</a></li>
      </ul>
    </div>
  </nav>


  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/home">HOME</a></li>
    <li><a routerLink="/navbar">COMPONENTS</a></li>
    <li><a href="collapsible.html">ABOUT</a></li>
    <li><a routerLink="/add-application">SERVICES</a></li>
  </ul>
</div>

<!-- 
<div class="navbar-fixed">
  <nav id="nav" class="transparent z-depth-0">
    <div class="nav-wrapper container"><a href="http://www.rairulyle.me" class="brand-logo svg"><object
          data="/images/rairu-logo.svg" type="image/svg+xml" aria-label="Logo"><span>Your browser doesn't support SVG
            images</span></object></a><a href="#" data-target="mobile-menu" class="sidenav-trigger"><i
          class="mdi mdi-menu"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#experience">EXPERIENCE</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#others">OTHERS</a></li>
        <li><a href="#connect">CONNECT</a></li>
      </ul>
      <ul class="sidenav" id="mobile-menu">
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#experience">EXPERIENCE</a></li>
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#others">OTHERS</a></li>
        <li><a href="#connect">CONNECT</a></li>
      </ul>
    </div>
  </nav>
</div> -->
