<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center white-text">Welcome to C-Tech</h1>
      <div class="row center">
        <h5 class="header col s12 white-text light">A Software Developer Company</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/images/desk.jpg"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center icon-color"><i class="mdi mdi-camcorder"></i></h2>
          <h5 class="center">Online Maintenance</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec lectus elementum
            euismod. Quisque auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc massa et eros.
            Proin vel felis iaculis quam cursus molestie vel eu risus.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center icon-color"><i class="mdi mdi-account-group"></i></h2>
          <h5 class="center">Highly Skilled Employees</h5>
          <p class="light">Suspendisse eleifend mi quis molestie sollicitudin. Aliquam fermentum non est sed dignissim.
            Vestibulum id feugiat neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center icon-color"><i class="mdi mdi-settings"></i></h2>
          <h5 class="center">User-Friendly Applications</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec lectus elementum
            euismod. Quisque auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc massa et eros.
            Proin vel felis iaculis quam cursus molestie vel eu risus.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <h2>Why choose C-Tech?</h2>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://art-u2.infcdn.net/articles_uploads/2/2681/Main%20Picture.jpg">
          </div>
        </div>
      </div>
      <div class="col s12 m6 card-text">
        <strong class="title-color">ACCEPT SERVICES THROUGH EMAIL</strong>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec lectus elementum euismod. Quisque
          auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc massa et eros. Proin vel felis
          iaculis
          quam cursus molestie vel eu risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec
          lectus elementum euismod. Quisque auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc
          massa
          et eros. Proin vel felis iaculis quam cursus molestie vel eu risus.
        </p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row cards">
      <div class="col s12 m6 push-m6">
        <div class="card push-s6">
          <div class="card-image">
            <img src="https://www.idoxsoft.com/wp-content/uploads/2016/04/User-Interface.png">
          </div>
        </div>
      </div>
      <div class="col s12 m6 pull-m6">
        <strong class="title-color">UNIQUE APPLICATIONS</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec lectus elementum euismod. Quisque
          auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc massa et eros. Proin vel felis
          iaculis
          quam cursus molestie vel eu risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec
          lectus elementum euismod. Quisque auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc
          massa
          et eros. Proin vel felis iaculis quam cursus molestie vel eu risus.</p>

      </div>
    </div>

    <div class="divider"></div>
    <div class="row cards">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="https://colorlib.com/wp/wp-content/uploads/sites/2/jevelin-designer-website-template.jpg">
          </div>
        </div>
      </div>
      <div class="col s12 m6 card-text">
        <strong class="title-color">MODERN DESIGN</strong>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec lectus elementum euismod. Quisque
          auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc massa et eros. Proin vel felis
          iaculis
          quam cursus molestie vel eu risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ligula nec
          lectus elementum euismod. Quisque auctor, risus eget semper viverra, mi ex venenatis dolor, in ornare nunc
          massa
          et eros. Proin vel felis iaculis quam cursus molestie vel eu risus.
        </p>
      </div>
    </div>
  </div>
</div>
