<div class="divider"></div>
<div class="row">
  <div class="col s12">
    <div class="container text-fields-padding">
      <div class="section">
        <div class="row">
          <div class="input-field col s12 m4">
            <input placeholder="First Name" id="firstname" type="text" class="validate">
            <label class="active" for="firstname">First Name</label>
          </div>
          <div class="input-field col s12 m4">
            <input placeholder="Last Name" id="lastname" type="text" class="validate">
            <label class="active" for="lastname">Last Name</label>
          </div>
          <!-- <div class ="col s12 m4">
                <h2 class="center icon-color"><i class="mdi mdi-account-group"></i></h2>
          </div> -->
        </div>
        <div class="row">
          <div class="input-field col s12 m8">
            <input placeholder="Email" id="email" type="email" class="validate">
            <label class="active" for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m8">
            <input placeholder="Password" id="password" type="password" class="validate">
            <label class="active" for="email">Password</label>
          </div>
        </div>
        <div class="row header-buttons">
          <div class="col s5 m2 push-m6">
            <button class="btn btn-block waves-effect waves-light" type="submit" name="action">Clear
              <i class="mdi mdi-eraser left"></i>
            </button>
          </div>
          <div class="col s5 m2 push-m2">
            <button class="btn waves-effect waves-light" type="submit" name="action">Save
              <i class="mdi mdi-content-save left"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

